.section__about_me {
    max-height: 792px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 312px;
    column-gap: 24px;
}

.article__introduce section header { 
    margin-bottom: 24px;
}

.article__introduce section header h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.div__introduce_detail {
    font-size: 20px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 16px;
}

.div__introduce_detail>p {
    color: #5b5b5b;
    font-size: 20px;
}

.underline {
    position: relative;
}

.underline-1 {
    padding: 0 8px;
}

.underline-2 {
    padding-left: 8px;
}

.underline-1::after {
    position: absolute;
    content: "";
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
    width: 148px;
    height: 8px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.underline-2::after {
    position: absolute;
    content: "";
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
    width: 119px;
    height: 8px;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.article__introduce section>p {
    font-size: 16px;
    line-height: 24px;
    color: #C1C1C1;
}

.article__icons {
    display: flex;
    column-gap: 24px;
    margin-top: 60px;
}

.about_me_image img {
    display: block;
}

.section__portfolio {
    padding: 120px 0 0 0;
}

.portfolio__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.portfolio__header h2 {
    width: 372px;
    position: relative;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    display: flex;
    justify-content: center;
}

.portfolio__header h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #c1c1c1;
    top: calc(50% - 1px);
    z-index: -1;
}

.portfolio__header h2 span::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #c1c1c1;
    border-radius: 50%;
    top: calc(50% - 3px);
    left: 0;
}

.portfolio__header h2 span::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #c1c1c1;
    border-radius: 50%;
    top: calc(50% - 3px);
    right: 0;
}

.portfolio__header h2 span {
    padding: 0 16px;
    background-color: #FFFFFF;
}

.portfolio__item {
    height: 800px;
    position: relative;
}

.order_platform_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/order-platform-bg.png);
    background-size: cover;
    background-position: center;
}

.portfolio__item.order_platform picture {
    position: absolute;
    top: 80px;
    left: 312px;
    height: 0 auto;
}

/* for public content style */
.order_platform_content,
.manage_finances_app_content,
.clinic_website_content {
    max-width: 562px;
    max-height: 400px;
    position: absolute;
    top: 200px;
    border-radius: 24px;
    padding: 80px 40px 56px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.order_platform_content {
    left: 1081px;
}

.order_platform_introduce,
.manage_finances_app_introduce,
.clinic_website_introduce {
    padding: 0 0 40px 0;
    border-bottom: 1px solid #F1F1F1;
}

.order_platform__title,
.manage_finances_app__title,
.clinic_website__title {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.order_platform__title h3,
.manage_finances_app__title h3,
.clinic_website__title h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin-bottom: 8px;
}

.order_platform__title p,
.manage_finances_app__title p,
.clinic_website__title p {
    font-size: 16px;
    line-height: 24px;
}

.order_platform_tags,
.manage_finances_app_tags,
.clinic_website_tags {
    display: flex;
    column-gap: 16px;
}

.tags {
    border-radius: 16px;
    padding: 4px 12px;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.order_platform_button,
.manage_finances_app_button,
.clinic_website_button {
    display: flex;
    column-gap: 8px;
    padding: 16px 32px;
    background-color: #000000;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.manage_finances_app_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/manage-finances-app-lg.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.manage_finances_app_mask {
    width: 948px;
    height: 100%;
    background-color: rgba(10, 16, 19, 0.5);
}

.manage_finances_app_content {
    left: 312px;
}

.clinic_website_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(../image/clinic-website-bg.png);
    background-size: cover;
    background-position: center;
}

.portfolio__item.clinic_website picture {
    position: absolute;
    top: 176px;
    left: 312px;
    height: 0 auto;
}

.clinic_website_content {
    left: 1082px;
}

@media (min-width: 1025px) and (max-width: 1200px) {}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 426px) and (max-width: 768px) {}

@media (max-width: 425px) {
    /* FIXME: 檢查哪個元素超版了 */
    .section__about_me {
        flex-direction: column;
        padding: 0;
    }

    .article__introduce {
        padding: 40px 0;
        text-align: center;
        order: 1;
    }

    .article__introduce section {
        width: 268px;
        height: 255px;
    }

    .article__introduce section header h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
    }

    .div__introduce_detail>p {
        margin-bottom: 8px;
    }

    .div__introduce_detail span:first-child {
        content: "\A";
        white-space: pre;
    }

    .underline-1 {
        padding-left: 0px;
    }

    .article__icons {
        margin-top: 24px;
        justify-content: center;
        column-gap: 16px;
    }

    .about_me_icon img {
        width: 40px;
        height: 40px;
    }

    .section__portfolio {
        padding: 40px 0 80px 0;
    }

    .portfolio__header {
        margin-bottom: 40px;
    }

    .portfolio__header h2 {
        width: 249px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }

    .portfolio__item.order_platform {
        max-height: 578px;
        margin-bottom: 48px;
    }

    .order_platform_bg {
        height: 390px;
    }

    .portfolio__item.order_platform picture {
        top: 93px;
        left: 40px;
    }

    .portfolio__item.order_platform picture img {
        width: 295px;
        height: 297px;
    }

    .order_platform_content,
    .manage_finances_app_content,
    .clinic_website_content {
        width: 375px;
        max-height: 164px;
        top: auto;
        bottom: 0;
        left: 0;
        border-radius: 0;
        padding: 0 24px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    .order_platform_introduce,
    .manage_finances_app_introduce,
    .clinic_website_introduce {
        padding: 0;
        border-bottom: none;
        text-align: center;
    }

    .order_platform__title,
    .manage_finances_app__title,
    .clinic_website__title {
        margin-bottom: 16px;
    }

    .order_platform__title h3,
    .manage_finances_app__title h3,
    .clinic_website__title h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: #1E1E1E;
        margin-bottom: 8px;
    }

    .order_platform__title p,
    .manage_finances_app__title p,
    .clinic_website__title p {
        font-size: 16px;
        line-height: 24px;
        color: #5B5B5B;
    }

    .order_platform_tags,
    .manage_finances_app_tags,
    .clinic_website_tags {
        display: flex;
        justify-content: center;
        column-gap: 8px;
    }

    .tags {
        border-radius: 16px;
        padding: 4px 12px;
        background-color: #F1F1F1;
        font-size: 16px;
        line-height: 24px;
    }

    .order_platform_button,
    .manage_finances_app_button,
    .clinic_website_button {
        display: flex;
        column-gap: 8px;
        padding: 8px 16px;
        background-color: #000000;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        cursor: pointer;
    }

    .portfolio__item.manage_finances_app {
        max-height: 602px;
        margin-bottom: 48px;
    }

    .manage_finances_app_bg {
        width: 375px;
        height: 390px;
        background-image: url(../image/manage-finances-app-sm.png);
        z-index: 0;
    }

    .manage_finances_app_mask {
        display: none;
    }

    .portfolio__item.clinic_website {
        max-height: 578px;
    }

    .clinic_website_bg {
        width: 375px;
        height: 390px;
    }

    .portfolio__item.clinic_website picture {
        top: 90px;
        left: 40px;
    }

    .portfolio__item.clinic_website picture img {
        width: 295px;
        height: 210px;
    }
}